<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Edu-App</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Tab 1
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Tab 2
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

   	 <li class="nav-item">
        <a class="nav-link" href="#">Tab 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tab 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tab 5</a>
      </li>

      <li class="nav-item" *ngIf="!signedIn">
        <a class="nav-link" href="signin">Sign In</a>
      </li>

      <li class="nav-item" *ngIf="!signedIn">
        <a class="nav-link" href="register">Register</a>
      </li>

      <li class="nav-item" *ngIf="signedIn">
        <a class="nav-link" href="/">{{user.name}}</a>
      </li>

      <li class="nav-item" *ngIf="signedIn">
        <a class="nav-link" (click)="logOut()">Log Out</a>
      </li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container text-center pt-5">
	<div *ngIf="user">
		<img src="{{user.image}}">
		<p class="lead">{{user.name}}</p>
		<p class="lead">{{user.email}}</p>
	</div>
</div>
